<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>Services Page</title>
</head>
<body>

    <section id="content">
        <h1>Welcome to services page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, eos error iusto ex ullam ducimus quia nemo mollitia corrupti! Quis quo architecto at perferendis nulla dolorum suscipit reprehenderit nobis, unde hic illum!</p>
    </section>
    <script>
        colsole.log("Services page")
    </script>
</body>
</html>